{% extends "layout.html" %}
{% block content %}
<div className="content-section"></div>
    <h1>Data Viz Complete</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb4">Finally...</legend>
                <div class="form-group">
                    {{ form.newFileName.label(class="form-control-label") }}
                    {% if form.newFileName.errors %}
                        {{ form.newFileName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.newFileName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.newFileName(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    <p>Here is your finished file to download.</p>
    <div>
        <p>WHERE THE FILE IS GONNA GO</p>
    </div>
</div>
{% endblock content %}
